.chat-message {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.chat-message > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.chat-message.chat-message-other {
    flex-direction: row-reverse;
}

.chat-profile-img {
    border-radius: 50%;
    width: 3rem;
}

.chat-message-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    box-sizing: border-box;
    width: fit-content;
    max-width: 50%;
    background-color: #2455bb;
    color: #fefefe;
    border-radius: 1rem 1rem 0 1rem;
}

.chat-message-other .chat-message-content {
    justify-content: flex-start;
    background-color: #fefefe;
    color: #888888;
    border-radius: 1rem 1rem 1rem 0;
}

.chat-message-info {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    word-break: break-word;
    flex-wrap: wrap;
}

.chat-message-other .chat-message-info {
    text-align: left;
    justify-content: flex-start;
}

.chat-message-date {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #ccc;
}

.chat-message-author {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #f39a51;
}
