.text-input {
    width: 100%;
    color: #9a9ba0;
}

.text-input.text-input-error {
    animation: 1s ease-in 0s 1 shake;
}

.text-input input {
    all: unset;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    height: 3rem;
    background-color: #edf0f5;
    border-radius: 15px;
}

.text-input input.text-input-error {
    border: 1px solid red;
}

.text-input-error {
    color: red;
}

.text-input-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes shake {
    0% {
        transform: rotateZ(0);
    }
    10% {
        transform: rotateZ(2deg);
    }
    20% {
        transform: rotateZ(-2deg);
    }
    30% {
        transform: rotateZ(2deg);
    }
    40% {
        transform: rotateZ(-2deg);
    }
    50% {
        transform: rotateZ(2deg);
    }
    60% {
        transform: rotateZ(-2deg);
    }
    70% {
        transform: rotateZ(2deg);
    }
    80% {
        transform: rotateZ(-2deg);
    }
    90% {
        transform: rotateZ(2deg);
    }
    100% {
        transform: rotateZ(0);
    }
}
