.verify {
    width: 100%;
    height: calc(100% + var(--navbar-height) * -1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.verify-error {
    color: red;
}

.verify-success {
    color: green;
}